<div class="container-fluid">
  <div class="row">
        <div class="col-sm-6">
     <p><span class="nav">
<img src="files/symx-sop.jpg" alt="The Systematrix SOP" name="SOP" width="400" height="357" id="SOP" /></span>
<br />  
                  <br />
                </p>
        </div>
        <div class="col-sm-6">
        <p align="justify"><span class="nav">Our Custom Application Development services include: </span></p>
              
              <div align="justify">
                  <ul>
                    <li class="nav"> Architecture Consulting </li>
                    <li class="nav"> Capacity Planning </li>
                    <li class="nav"> Network Planning </li>
                    <li class="nav"> Development </li>
                    <li class="nav"> Testing</li>
                    <li><span class="nav"> Application Maintenance and Enhancement </span>
                      <ul>
                        <li class="nav"> Application Maintenance</li>
                        <li class="nav"> Application Enhancement</li>
                        <li class="nav"> Application Support </li>
                        <li class="nav"> Helpdesk</li>
                      </ul>
                    </li>
                    <li class="nav"> Application Re-engineering-
                      Application re-engineering addresses your need to leverage  newer technology platforms, frameworks, and software products to transform IT  systems and applications. </li>
                  </ul>
              </div>
        </div>
      </div>
    </div>



<p align="justify">We are aware that successful development does not mean  simply 'installing the relevant software in the target system'. The following  are the basic tenets we follow to define the success of our solution.</p>
              
              <div align="justify">
                  <ul>
                    <li> The software is in complete harmony with the operating  system. </li>
                    <li> The software does not hinder the legitimate demands of other  software on the resources of the host system. </li>
                    <li> The user is able to derive optimum benefits available from  the usage of the software and other relevant computing resources. </li>
                    <li> The user fully understands the usage and thereby resulting  consequences of the various features in the system. </li>
                    <li> If the software has to perform tasks for various networked  or discrete users, the hierarchy of controls has been completely defined,  documented and implemented </li>
                    <li> It has been exhaustively verified that all the features and  options available on the software are completely usable within pre-set  parameters. </li>
                    <li> Back-ups of data created by the usage of the software can be  smoothly managed with the current levels of automation. </li>
                    <li> Updates to the software are easily and naturally possible  using the currently available resources.</li>
                    <li>Re-development of the  software if required at a future point in time can be accomplished, using the  installation report created. </li>
                    <li> A proper documentation of all the additional third-party  inputs, operating system parameters has been made.                  </li>
                  </ul>
             
