
<div align="justify">Systematrix' IT services portfolio includes consultancy offerings, application &amp; web development services as well as system integration solutions. Customers typically rely on us from the project inception stage, or even before, so that we can identify the need, develop a business case and then offer the most practical, appropriate and cost-effective solution. Systematrix also takes up pure consultancy assignments, where are experienced managers act as independent advisors for clients to make informed and unbiased decisions on critical projects. </div>

<p align="justify">These are the following types of services offered by us in the IT spectrum:</p>
<div class="container-fluid">
  <div class="row">
        <div class="col-sm-4">
          <a href="/services/services_IT_consulting" class="btn btn-default">Consulting</a>
        </div>
        <div class="col-sm-4">
         <a href="/services/services_IT_consulting" class="btn btn-default">sss</a>
        </div>
        <div class="col-sm-4">
         <a href="/services/services_IT_consulting" class="btn btn-default">sssa</a>
        </div>
   </div>
</div>

