
              <p class="pagetitle">Security &amp; Surveillance Services  <br />
                </p>
              <p class="pagetitle">To provide businesses and structures with maximum protection  in today&rsquo;s high&shy; risk world, security systems need to be considered right at  the design stage. This requires a detailed analysis of vulnerabilities.  Security systems need to be designed to fit not only present needs but also  those in the future. For constructed and completed structures and campuses as  well, Systematrix' team of security experts can provide valuable insights into risks  and suggest the best form of protection to adequately cover all the assets. Our  specialists provide expert security threat analysis and risk assessment, having  architects, owners, facility managers and security directors listing  comprehensive expectations. Once assessment is completed, security planning and  design begins. </p>
              <p class="nav style1">Following is a list of activities that we can undertake in  addressing your security concerns:</p>
              <ul>
                <li class="nav"><strong>Crisis &amp; Risk Assessment and Management: </strong>Full risk review to assess all  technical aspects and contractual relationships relating to facilities, systems  and personal management. This includes our patented &ldquo;TRAVA&rdquo; methodology that  delves deep into the physical and financial risks and vulnerabilities. </li>
                  <li class="nav"><strong>Security Engineering: </strong>The technical aspects of proposed security  solution, from planning stages, through installation upto commissioning, including:                   </li>
                  <ul class="style2">
                    <li class="nav">Developing, designing &amp; implementing the infrastructure</li>
                    <li class="nav">Selection  of the equipment requirements and provision of detailed technical  specifications</li>
                    <li class="nav">Assistance  in the preparation of the tenders</li>
                    <li class="nav">Evaluation  and comparison of the suppliers' quotations</li>
                    <li class="nav">Negotiations  with suppliers</li>
                    <li class="nav">Supervision  of installation</li>
                    <li class="nav">Commissioning  of systems prior to payment</li>
                    <li class="nav">Long-term  system monitoring</li>
                  </ul>
                
                  <li class="nav"><strong>Aviation and Maritime Security</strong>: Survey, Risk analysis, proposals for equipment &amp;  procedures, training and control.</li>
                  <li class="nav"><strong>Information Technology Security</strong>: Planning, development, establishment and operation of  information security systems. </li>
                  <li class="nav"><strong>Training and Instruction: </strong>In all aspects of security, including procedures and  equipment.</li>
              </ul>
             
