
/*body {
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position:center;
	margin-top: 20px;
}*/
.pd_menu_01 {
	float:left;
	padding:0;
	margin:0;
	color: #005197;
	background-image:url(../images/menu-bg.jpg);
	width:1000px;
	} /*Color navigation bar normal mode*/
.pd_menu_01  a, .pd_menu_01 a:visited {
font-family:"Trebuchet MS";
font-style:normal;
font-weight: normal;
font-size:14px;
color: #005197;
text-decoration: none;
}
.pd_menu_01 ul {list-style-type:none;padding:0; margin:0;}
.pd_menu_01 ul li {float:left; position:relative; z-index:auto !important /*Non-IE6*/; z-index:1000 /*IE6*/; }
.pd_menu_01 ul li a {color: #005197;float:none !important /*Non-IE6*/; float:left /*IE-6*/; display:block; height:25px; line-height:25px; padding:5px 30px 5px 30px; text-decoration:none;}
.pd_menu_01 ul li ul {display:none; border:none;color: #0066CC;background: #0000A0;}
.pd_menu_01 ul li:hover a {background-color:#003399; text-decoration:none; color:#FFFFFF;} /*Color main cells hovering mode*/
.pd_menu_01 ul li:hover ul {display:block;  position:absolute; z-index:999; top:auto; margin-top:0px; left:0px; }
.pd_menu_01 ul li:hover ul li a {
	display:block;
	width:120px;
	height:auto;
	line-height:20px;
	padding:5px 10px 5px 30px;
	background-color:#003399;
	color:#FFFFFF;
	text-align: left;
	border-bottom:#CCCCCC;
} /*Color subcells normal mode*/
.pd_menu_01 ul li:hover ul li a:hover {background-color:#0066CC; text-decoration:none;color:#FFFFFF;} /*Color subcells hovering mode*/
.pd_menu_01 table {position:absolute; top:0; left:0; border-collapse:collapse;color: #FFFFFF;background: #0000A0;}
.pd_menu_01 ul li a:hover {background-color:#0066CC; text-decoration:none;color:#FFFFFF;} /*Color main cells hovering mode*/
.pd_menu_01 ul li a:hover ul {display:block; width:12em; position:absolute; z-index:999; top:29px; left:0; }
.pd_menu_01 ul li a:hover ul li a {display:block; width:12em; height:1px; line-height:1.3em; padding:4px 16px 4px 16px; background-color:#FFFFFF;  color:#003399;} /*Color subcells normal mode*/
.pd_menu_01 ul li a:hover ul li a:hover {background-color:#CA0000; text-decoration:none;color:#FFFF00;} /*Color subcells hovering mode*/



